@{
    ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 class="display-4">Welcome To The Polls Creator!</h1>
		<img src="gifs/WelcomePage.gif" />
		<div>
			<button><a asp-controller="PollBuilder" asp-action="Create">Create a Poll</a></button>
		</div>
	</div>
